<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>TeslaBank</title>
  </head>
  <body>
    <header class="navbar">
      <a href="/">
        <h2>teslaBank.</h2>
      </a>
      <nav>
        <a href="#">Benefícios</a>
        <a href="#">Conta digital</a>
        <a href="#">Suporte</a>
        <a href="#">Blog</a>
      </nav>
      <div>
        <a href="http://localhost:5000/users/login">Entrar</a>
        <a href="http://localhost:5000/users/new">Abrir conta</a>
      </div>
    </header>
    <section class="home">
      <div class="container-text-home">
        <h1><span>TeslaBank</span> seu banco digital.</h1>
        <p>
          Com TeslaBank, você pode realizar transferências bancárias com zero
          taxa e pagar suas contas.
        </p>
        <ul>
          <div class="first-containers-li">
            <div class="container-li">
              <img src="/img/home/badge.png" alt="badge" />
              <li>Transferência instantânea</li>
            </div>
            <div class="container-li">
              <img src="/img/home/badge.png" alt="badge" />
              <li>Sem taxas absurdas</li>
            </div>
          </div>
          <div class="seccond-containers-li">
            <div class="container-li">
              <img src="/img/home/badge.png" alt="badge" />
              <li>Pagamentos em todo o mundo</li>
            </div>
            <div class="container-li">
              <img src="/img/home/badge.png" alt="badge" />
              <li>100% pensando em você</li>
            </div>
          </div>
        </ul>
        <div class="container-buttons-home">
          <a href="http://localhost:5000/users/new">Abrir uma conta</a>
          <img src="/img/home/ios.svg" alt="" />
          <img src="/img/home/play-store.svg" alt="" />
        </div>
      </div>
      <div class="container-img-home">
        <img src="/img/home/card-home.png" alt="card-home" />
      </div>
    </section>
    <section class="open-account">
      <div class="container-open-left">
        <img src="/img/open/app.png" alt="app" />
        <img id="check-open" src="/img/open/check.png" alt="check" />
        <img id="cursor-open" src="/img/open/cursor.png" alt="cursor" />
        <img id="heart-open" src="/img/open/heart.png" alt="heart" />
      </div>
      <div class="container-open-right">
        <div class="container-text-open">
          <h2>Abra sua conta <span>gratuita!</span></h2>
          <p>
            Envie e receba dinheiro de forma mais prática e rápida. Faça Pix,
            TEDs e transferências para todos os bancos sem pagar nada.
          </p>
        </div>
        <div class="container-benefits">
          <div class="benefits">
            <div class="img-benefits">
              <img src="/img/open/dollar.png" alt="" />
            </div>
            <div class="text-benefits">
              <h3>Seu dinheiro rendendo mais</h3>
              <p>Rendem mais que a poupança e você resgata quando quiser.</p>
            </div>
          </div>
          <div class="benefits">
            <div class="img-benefits">
              <img src="/img/open/smartphone.png" alt="" />
            </div>
            <div class="text-benefits">
              <h3>Seu dinheiro rendendo mais</h3>
              <p>Rendem mais que a poupança e você resgata quando quiser.</p>
            </div>
          </div>
          <div class="benefits">
            <div class="img-benefits">
              <img src="/img/open/smile.png" alt="" />
            </div>
            <div class="text-benefits">
              <h3>Seu dinheiro rendendo mais</h3>
              <p>Rendem mais que a poupança e você resgata quando quiser.</p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
